html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("../image/watch_bg.png");
  background-repeat: no-repeat;
}

#components-main {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hand-main-hour {
  position: absolute;
  left: 167px;
  top: 9px;
  width: 25px;
  height: 360px;
  background-image: url("../image/watch_hand_hour.png");
  background-position: 50% 23%;
  background-size: contain;
  background-repeat: no-repeat;
}

#hand-main-minute {
  position: absolute;
  left: 167px;
  top: 9px;
  width: 25px;
  height: 360px;
  background-image: url("../image/watch_hand_minute.png");
  background-position: center 20%;
  background-size: contain;
  background-repeat: no-repeat;
}

#hand-main-second {
  position: absolute;
  left: 167px;
  top: 9px;
  width: 28px;
  height: 360px;
  background-image: url("../image/watch_hand_second.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

#hand-main-hour,
#hand-main-minute,
#hand-main-second {
  transition: transform 0.5s ease-in-out;
}

#battery {
  display: inline-block;
  width: 4.5em;
  height: 10em;
  border: 1em solid #191919;
  border-width: 0.5em 1em;
  box-shadow: 0 0 0 1em white, 0 0 1em white;
  border-radius: 2%;
  margin: 4em 1.5em 1.5em;
  position: relative;
  background-color: green;
  background-image: linear-gradient(
    180deg,
    #191919 0.5em,
    #191919 0.5em,
    transparent 0.5em,
    transparent 2em,
    #191919 2em,
    #191919 3em,
    transparent 3em,
    transparent 4.5em,
    #191919 4.5em,
    #191919 5.5em,
    transparent 5.5em,
    transparent 7em,
    #191919 7em,
    #191919 8em,
    transparent 8em,
    transparent 9.5em,
    #191919 9.5em
  );
  background-size: 100%;
}

#battery:before {
  opacity: 0%;
  position: absolute;
  top: -4em;
  left: 0em;
  display: block;
  background: white;
  box-shadow: 0 0 0.1em white;
  width: 4.5em;
  height: 1.5em;
  content: "";
  border-radius: 0.9em 0.9em 0 0;
}

#battery:after {
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  background: #191919;
  width: 4.5em;
  height: 0;
  content: "";
}

#battery.level-75:after {
  height: 2em;
}

#battery.level-50:after {
  height: 4.5em;
}

#battery.level-25:after {
  height: 7em;
}

#battery.level-25 {
  background-color: red;
}

#battery.level-0:after {
  height: 9.5em;
}

.animatee {
  animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0%,
  100% {
    text-shadow: 0 0 0;
  }
  25% {
    text-shadow: 0 0 0.2em gold, 0 0 0.4em gold;
  }
  50% {
    text-shadow: 0 0 0;
  }
  75% {
    text-shadow: 0 0 0.2em gold, 0 0 0.4em gold;
  }
}

.Color {
  text-shadow: 0 0 0.2em green, 0 0 0.4em green, 0 0 0.6em green;
}

.Low {
  text-shadow: 0 0 0.2em red, 0 0 0.4em red, 0 0 0.6em red;
}
